/* =========================================================
    ESCRITORIO (XL revisamos en 1366px en adelante)
============================================================ */ 

/* 
    CONFIGURACIONES INICIALES PARA TODA LA PÁGINA 
*/

*{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Chewy', cursive; */
}

ul, ol{
    list-style: none;
}

a:visited, a:active, a:hover, a:link, a:focus{
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.bg-black{
    background-color: #000;
}

/*
    ESTILOS AL #encabezado
*/
header{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .logotipo{
    width: 55%;
}

.redes ul li i{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes ul li i.fa-facebook-f {
    background: #1475e0;
}

.redes ul li i.fa-instagram{
    background-color: #b18768;
}

.redes ul li i.fa-twitter{
    background-color: #00a6ff;
}

.redes ul li i.fa-youtube{
    background-color: #f95f62;
}

.redes ul li i.fa-snapchat-ghost{
    background-color: #ff9052;
}

header .botonMenu .fa-bars{
    font-size: 35px;
}

#redesSocialesMovil{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 10;
}

/*
    ESTILOS AL #banner
*/

#banner{
    overflow: hidden;
}

#banner .swiper-slide img{
    width: 100%;
}


/*
    ESTILOS AL #menuPrincipal
*/

#menuPrincipal{
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 5rem;
    display: none;
    transition: all .5s ease-in-out;
}

#menuPrincipal .btnClose{
    position: absolute;
    right: 25%;
    top: -3rem;
    font-size: 2.2rem;
}

/*
    ESTILOS AL #gridCategorias
*/

#gridCategorias figure{
    position: relative;
    border-left: .5rem solid #fff;
    border-right: .5rem solid #fff;
    transition: all 3s ease;
    cursor: pointer;
}

#gridCategorias figure:hover{
    background-position: right bottom;
}

#gridCategorias .columna1{
    width: 40%;
}

#gridCategorias figure p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    margin-bottom: 0!important;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    transition: all .3s ease;
}

#gridCategorias .foto1{
    height: 400px;
    background-image: url(../img/suramerica.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias .foto2{
    height: 300px;
    background-image: url(../img/africa.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias .foto3{
    height: 300px;
    background-image: url(../img/centroamerica.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias .foto4{
    height: 300px;
    background-image: url(../img/europa.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias .foto5{
    height: 400px;
    background-image: url(../img/norteamerica.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias .foto6{
    height: 200px;
    background-image: url(../img/asia.jpg);
    background-position: left;
    background-size: cover;
}

#gridCategorias figure p:hover{
    background-color: rgba(255, 57, 190, .7);
}

/*
    ESTILOS AL #articulosPublicidad
*/

#articulosPublicidad .titulo{
    font-size: 1.3rem;
}

#articulosPublicidad .contenidoArticulo{
    position: relative;
}

.fecha{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px 17px;
    color: #aaa;
    font-size: 14px;
    background-image: url(../img/globo.jpg);
    background-position: center top;
    background-size: cover;
    height: 45px;
    z-index: 2;
    margin-bottom: 0;
}

.separador{
    background-color: #79FF39;
    height: 1px;
    margin-bottom: 3rem;
}

/*
    ESTILOS A #pagination
*/

#pagination .page-item.active .page-link {
    background-color: #ff39be;
    border-color: #ff39be;
    color: #fff;
}

/*
    ESTILOS A #pieDePagina
*/

#pieDePagina{
    background-color: #000;
}

#pieDePagina figure{
    position: relative;
    border: 4px solid #fff;
    transition: all 3s ease;
    margin-bottom: 0;
}

#pieDePagina figure:hover{
    background-position: right bottom;
}

#pieDePagina .columna1{
    width: 40%;
}

#pieDePagina figure p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    margin-bottom: 0!important;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    transition: all .3s ease;
}

#pieDePagina .foto1{
    height: 200px;
    background-image: url(../img/suramerica.jpg);
    background-position: left;
    background-size: cover;
    border-top: 8px solid #fff;
    border-left: 8px solid #fff;
}

#pieDePagina .foto2{
    height: 100px;
    background-image: url(../img/africa.jpg);
    background-position: left;
    background-size: cover;
    border-bottom: 8px solid #fff;
    border-left: 8px solid #fff;
}

#pieDePagina .foto3{
    height: 100px;
    background-image: url(../img/centroamerica.jpg);
    background-position: left;
    background-size: cover;
    border-top: 8px solid #fff;
}

#pieDePagina .foto4{
    height: 100px;
    background-image: url(../img/europa.jpg);
    background-position: left;
    background-size: cover;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
}

#pieDePagina .foto5{
    height: 200px;
    background-image: url(../img/norteamerica.jpg);
    background-position: left;
    background-size: cover;
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
}

#pieDePagina figure p:hover{
    background-color: rgba(255, 57, 190, .7);
}

/*
    FLECHA DEL SCROLL UP
*/

#scrollUp{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-image: url(../img/flecha.jpg);
    border-radius: 50%;
    display: none;
    transition: all 1s ease;
}

/*
    ESTILOS AL #bannerParallax
*/

#bannerParallax{
    height: 34rem;
}

#bannerParallax .titulo{
    font-family: 'Chewy', cursive;
    font-size: 60px;
}

#bannerParallax p{
    font-weight: 300;
    font-size: 18px;
}

/*
    ESTILOS A .migaDePan
*/

.migaDePan li img{
    height: 50px;
}

/*
    ESTILOS A .boton
*/

.bloqueBotones{
    display: flex;
}

.boton{
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: white;
}

.boton span{
    font-size: 20px;
    padding: 0 0 0 5px;
}

.boton i{
    padding: 0 5px 0 0;
}

.facebook{
    background-color: #1475E0;
    border: 1px solid #1475E0;
}

.twitter{
    background-color: #00A6FF;
    border: 1px solid #00A6FF;
}

.google{
    background-color: #DD4D41;
    border: 1px solid #DD4D41;
}

/*
    ESTILOS A .articulosRelacionados
*/

.articulosRelacionados .titulo{
    color: #aaa;
    font-size: 15px;
}

/*
    ESTILOS A .opiniones
*/

.opiniones .comentario .foto{
    padding: 4px;
    border: 1px solid #dee2e6;
}

.opiniones .titular{
    color: #8e4876;
    font-size: 1.6rem;
}

/*
    ESTILOS A #formularioOpinion
*/

#formularioOpinion .campos{
    width: 80%;
}

#formularioOpinion .imagen{
    width: 20%;
}

/* =========================================================
    TABLET HORIZONTAL (LG revisamos en 1024px)
============================================================ */ 

@media (min-width:992px) and (max-width:1199px){
    #menuPrincipal{
        font-size: 2.3rem;
    }
    
    #menuPrincipal .btnClose{
        right: 15%;
        top: -3.7rem;
        font-size: 2.3rem;
    }

    #bannerParallax{
        height: 21.5rem;
    }

    #bannerParallax .titulo{
        font-size: 50px;
    }
    
    #bannerParallax p{
        font-size: 15px;
    }

    .migaDePan li img{
        height: 45px;
    }

    .boton{
        padding: .4rem .8rem;
    }
    
    .boton span{
        font-size: 20px;
        padding: 0 0 0 5px;
    }
    
    .boton i{
        padding: 0 5px 0 0;
    }

    .opiniones .comentario .foto{
        height:85px;
        width:85px;
    }

    #formularioOpinion .campos{
        width: 75%;
    }
    
    #formularioOpinion .imagen{
        width: 25%;
    }
    
}

/* =========================================================
    TABLET VERTICAL (MD revisamos en 768px)
============================================================ */ 

@media (min-width:768px) and (max-width:991px){
    #menuPrincipal{
        font-size: 1.8rem;
        line-height: 3.9rem;
    }
    
    #menuPrincipal .btnClose{
        right: 15%;
        top: -3.7rem;
    }

    #gridCategorias .foto1{
        height: 300px;
    }
    
    #gridCategorias .foto2{
        height: 200px;
    }
    
    #gridCategorias .foto3{
        height: 200px;
    }
    
    #gridCategorias .foto4{
        height: 200px;
    }
    
    #gridCategorias .foto5{
        height: 300px;
    }

    #gridCategorias figure p{
        text-align: center;
        font-size: 15px;
    }

    .fecha{
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 5px 10px;
        color: #aaa;
        font-size: 12px;
        background-image: url(../img/globo.jpg);
        background-position: center top;
        background-size: cover;
        height: 35px;
        margin-bottom: 0;
    }

    .separador{
        margin-bottom: 1.85rem;
    }

    
    #pieDePagina figure p{
        font-size: 12px;
    }

    #bannerParallax{
        height: 16rem;
    }

    #bannerParallax .titulo{
        font-size: 35px;
    }
    
    #bannerParallax p{
        font-size: 13px;
    }

    .migaDePan li img{
        height: 40px;
    }

    .boton{
        padding: .3rem .7rem;
    }
    
    .boton span{
        font-size: 18px;
        padding: 0 0 0 5px;
    }
    
    .boton i{
        padding: 0 5px 0 0;
    }

    .opiniones .comentario .foto{
        height:85px;
        width:85px;
    }

    .articulo .encabezado h2{
        font-size: 30px;
        display: inline-block;
    }   

    .articulo .encabezado .fecha{
        top: 5px;
    }

    #formularioOpinion .campos{
        width: 70%;
    }
    
    #formularioOpinion .imagen{
        width: 30%;
    }

}

/* =========================================================
    MOVIL HORIZONTAL (SM revisamos en 576px)
============================================================ */ 

@media (min-width:576px) and (max-width:767px){
    header .logotipo{
        width: 65%;
    }

    #menuPrincipal{
        font-size: 1.8rem;
        line-height: 3.9rem;
    }
    
    #menuPrincipal .btnClose{
        right: 5%;
        top: -3.7rem;
    }

    #gridCategorias .columna1{
        width: 50%;
    }

    #gridCategorias .foto1{
        height: 200px;
    }
    
    #gridCategorias .foto2{
        height: 200px;
    }
    
    #gridCategorias .foto3{
        height: 200px;
    }
    
    #gridCategorias .foto4{
        height: 200px;
    }
    
    #gridCategorias .foto5{
        height: 200px;
    }

    #gridCategorias .foto6{
        height: 200px;
    }

    #gridCategorias figure p{
        text-align: center;
        font-size: 15px;
    }

    .fecha{
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 5px 4px;
        color: #aaa;
        font-size: 12px;
        background-image: url(../img/globo.jpg);
        background-position: center top;
        background-size: cover;
        height: 30px;
        margin-bottom: 0;
    }

    #scrollUp{
        bottom: 60px;
        right: 10px;
        z-index: 3;
    }

    .migaDePan li img{
        height: 40px;
    }

    .boton{
        padding: .2rem .5rem;
    }
    
    .boton span{
        font-size: 16px;
        padding: 0 0 0 4px;
    }
    
    .boton i{
        padding: 0 4px 0 0;
    }

    .opiniones .comentario .foto{
        height:80px;
        width:80px;
    }

    .articulo .encabezado h2{
        font-size: 25px;
        display: inline-block;
    }   

    .articulo .encabezado .fecha{
        top: 8px;
    }

    #formularioOpinion .campos{
        width: 100%;
    }

}

/* =========================================================
    MOVIL VERTICAL (revisamos en 320px)
============================================================ */ 

@media (max-width:575px){
    header .logotipo{
        width: 95%;
    }

    #menuPrincipal{
        font-size: 1.2rem;
        line-height: 3rem;
    }
    
    #menuPrincipal .btnClose{
        right: 2%;
        top: -3rem;
        font-size: 1.5rem;
    }

    #gridCategorias .columna1{
        width: 50%;
    }

    #gridCategorias .foto1{
        height: 125px;
    }
    
    #gridCategorias .foto2{
        height: 125px;
    }
    
    #gridCategorias .foto3{
        height: 125px;
    }
    
    #gridCategorias .foto4{
        height: 125px;
    }
    
    #gridCategorias .foto5{
        height: 125px;
    }

    #gridCategorias .foto6{
        height: 125px;
    }

    #gridCategorias figure p{
        text-align: center;
        font-size: 13px;
    }

    .fecha{
        position: absolute;
        top: 20px;
        right: 13px;
        padding: 5px 4px;
        color: #aaa;
        font-size: 12px;
        background-image: url(../img/globo.jpg);
        background-position: center top;
        background-size: cover;
        height: 30px;
        margin-bottom: 0;
    }
    
    .separador{
        margin-bottom: 1.2rem;
    }

    #scrollUp{
        bottom: 60px;
        right: 5px;
        z-index: 3;
    }

    .migaDePan li img{
        height: 30px;
    }
    
    .boton{
        padding: .3rem .4rem;
        font-size: 12px;
    }
    
    .boton span{
        font-size: 12px;
        padding: 0 0 0 2px;
    }
    
    .boton i{
        padding: 0 2px 0 0;
    }

    .opiniones .comentario .foto{
        height:70px;
        width:70px;
    }

    .articulo .encabezado h2{
        font-size: 20px;
        display: inline-block;
    }   

    .articulo .encabezado .fecha{
        top: 0px;
    }

    #formularioOpinion .campos{
        width: 100%;
    }

}